.Attr-container{
  margin: 10px 0 ;
}

.Attr-container .Attr-heading{
  text-align: center;
}



.Attr-card{
  height: 60vh;
}

.Attr-card-container {
  height: 100%;
  width: 100%;
  padding: 40px;
  /* background-color: blue; */
  display: flex; /* Enable flex layout */
  flex-wrap: wrap; /* Allow wrapping for responsive design */
  gap: 20px; /* Add spacing between cards */
  justify-content: center; /* Center cards horizontally */
  align-items: center; /* Align items to stretch vertically */
  
}

.Attr-card {
  color: white;
  background-size: cover;
  padding: 2rem; /* Adjust padding for a more flexible layout */
  width: 300px; /* Set a consistent width for the cards */
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease, background-color 500ms ease;
  cursor: pointer;
  display: flex; /* Apply flex to card for inner alignment */
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-end; /* Align content at the bottom */
}

.Attr-card:hover,
.Attr-card:focus-within {
  transform: scale(1.05);
}

.Attr-card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0% / 0.3) 20%,
    hsl(0 0% 0% / 0.5)
  );
  position: relative;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 500ms ease, transform 500ms ease;
}

.Attr-card:hover .Attr-card-content,
.Attr-card:focus-within .Attr-card-content {
  transform: translateY(10%);
  opacity: 1;
}

.Attr-card-content > * {
  opacity: 0;
  transition: opacity 500ms ease;
}

.Attr-card:hover .Attr-card-content > *,
.Attr-card:focus-within .Attr-card-content > * {
  opacity: 1;
}

.Attr-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 0.5em 1.25em;
  border-radius: 0.25rem;
  transition: background-color 300ms ease, color 300ms ease;
}

.Attr-button:hover,
.Attr-button:focus {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
}



@media (max-width: 768px) {
  .Attr-card-container {
    flex-wrap: wrap; /* Cards wrap to the next line */
    gap: 15px; /* Adjust gap for smaller screens */
  }

  .Attr-card {
    width: calc(50% - 10px); /* Two cards per row on medium screens */
  }
}

@media (max-width: 480px) {
  .Attr-card {
    width: 100%; /* One card per row on small screens */
  }
}
