.reels {
    padding: 20px;
    text-align: center;
  }
  
  .reels_card {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .card_area {
    display: flex;
    gap: 15px;
  }
  
  .cardr {
    width: 300px;
  }
  
  video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  video:hover {
    cursor: pointer;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }
  