* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
  }
  
  /* navbar */
  header nav {
    padding: 10px 30px;
    /* margin: 10px 10px; */
    /* border-radius: 20px; */
    background-color: #f79e62;
    /* background-color: whitesmoke; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  #iH {
    font-size: 30px;
  }
  
  header nav input {
    padding: 5px;
    width: 55em;
    margin-left: 230px;
    border-radius: 10px;
    border: none;
    /* text-align: center; */
    padding: 10px 20px;
  }
  
  .home_logo {
    height: 30px;
    width: 30px;
  }
  
  .menu_logo {
    height: 30px;
    width: 30px;
  }
  
  .menu_icon a img {
    height: 30px;
    width: 30px;
  }
  /* navbar */
  /* ********** */
  /* navbar_states */
  
  .states {
    margin: 0 10px;
    /* background-color: rgb(200, 200, 210); */
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .states a {
    color: black;
    font-size: 20px;
  }
  
  /* navbar_states */
  /* ********* */
  * {
    box-sizing: border-box;
  }
  body {
    font-family: Verdana, sans-serif;
  }
  .mySlides {
    display: none;
  }
  img {
    vertical-align: middle;
  }
  
  /* Slideshow container */
  .slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 10px;
    height: 550px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-bottom: -33px;
    background-color: #fffdfd;
    border-radius: 50%;
    display: none;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: flip;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {
      font-size: 11px;
    }
  }
  .hero {
    height: 40px;
    width: 100%;
  }
  
  /* slider */
  /* ********* */
  .title p {
    /* je HISTORY title chhe e*/
    margin: 20px;
  }
  /* History */
  /* ************* */
  .history_card {
    margin-top: 10px;
    width: 100%;
    padding: 10px 30px;
    /* background-color: whitesmoke; */
  }
  .title {
    text-align: center;
    font-size: 40px;
  }
  
  /* For background-image hover effects (cards with images) */
  .cardF:hover .imgFest,
  .cardF:hover .prod,
  .cardF:hover .imgFood,
  .reel:hover .r1,
  .reel:hover .r2,
  .reel:hover .r3,
  .cardF:hover .a1,
  .cardF:hover .a2,
  .cardF:hover .a3 {
    transform: scale(1.1);
    opacity: 2;
    transition: transform 0.5s ease, opacity 0.3s ease;
  }
  
  .history_card .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .war .war_internal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .war .war_internal {
    /* /andar na text ane button mate/ */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .origin .og_internal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .war_internal p {
    /* /Text War Heading/ */
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 500;
  }
  
  /* War and Origin hover effects */
  .war:hover {
    opacity: 1; /* To make it fully visible */
    transform: scale(1.03); /* Slight zoom effect */
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .war {
    /* /main war card// */
    height: 30em;
    width: 50%;
    /* background-image: url(h1.jpg); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    opacity: 0.7;
  }
  
  .origin:hover {
    opacity: 1; /* To make it fully visible */
    transform: scale(1.03); /* Slight zoom effect */
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .origin {
    /* /main origin card// */
    height: 30em;
    width: 50%;
  
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
  }
  
  .og_internal p {
    /* /Text War Heading// */
    font-size: 40px;
    font-weight: 500;
    color: white;
  }
  
  .war button {
    cursor: pointer;
  }
  
  .origin button {
    cursor: pointer;
  }
  
  .war button {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
  }
  .origin button {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
  }
  /* ************** */
  
  .FamousThings p {
    /* je FamousThings title chhe e*/
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
  }
  /* /Famous things walu card jema 3 vstu hse// */
  .Fthings_card {
    margin: 10px;
    width: 100%;
    height: auto;
    /* background-color: aliceblue; */
  }
  
  .cardF {
    /* cards ni HW*/
    height: 200px;
    width: 250px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
  }
  
  .reel {
    /* cards ni HW*/
    height: 400px;
    width: 250px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
  }
  
  .cardF p {
    font-size: 20px;
    margin: 10px;
  }
  
  .card_area {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  
  /* hve cards ni imgs */
  
  .festivals .imgFest {
    height: 80%;
    width: 100%;
  
    background-size: cover;
    border-radius: 40px 0 40px 0;
  }
  
  .food .imgFood {
    height: 200px;
    width: 250px;
  
    /* background-size: cover; */
    border-radius: 40px 0 40px 0;
  }
  
  .products .prod {
    height: 80px;
    width: 100px;
    background-size: cover;
    border-radius: 40px 0 40px 0;
  }
  
  /*88888888888888888888888888888888888888888888/
    
    /reels/shortvideos section/*/
  .reels p {
    /* je reels title chhe e*/
    margin: 20px;
    text-align: center;
    font-size: 25px;
  }
  
  .festivals .r1 {
    height: 80%;
    width: 100%;
    /* background-image: url("Festival.jpg");
        background-size: cover; */
    border-radius: 40px 0 40px 0;
  }
  
  .food .r2 {
    height: 80%;
    width: 100%;
    /* background-image: url("food.jpg");
        background-size: cover; */
    border-radius: 40px 0 40px 0;
  }
  
  .products .r3 {
    height: 40%;
    width: 10%;
    /* background-image: url("prod.jpg");
        background-size: cover; */
    border-radius: 40px 0 40px 0;
  }
  
  /*jldi jldi ma bnayu vmro etle reels walo section blank chhe and styling khali copyj kryu chhe?*/
  /* ******************** */
  
  /* hve artist walo area  */
  
  .artist p {
    /* je reels title chhe e*/
    margin: 20px;
    text-align: center;
  }
  
  .festivals .a1 {
    height: 80%;
    width: 100%;
    /* background-image: url("Festival.jpg");
        background-size: cover; */
    border-radius: 40px 0 40px 0;
  }
  
  .food .a2 {
    height: 80%;
    width: 100%;
    /* background-image: url("food.jpg");
        background-size: cover; */
    border-radius: 40px 0 40px 0;
  }
  
  .products .a3 {
    height: 80%;
    width: 100%;
    /* background-image: url("prod.jpg");
        background-size: cover; */
    border-radius: 40px 0 40px 0;
  }
  
  /* *********** */
  
  footer {
    margin-top: 10px;
    position: relative;
    bottom: 0;
    height: auto;
    width: 100vw;
    /* background-color: skyblue; */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px 40px;
    background-color: whitesmoke;
  }
  
  .footr p {
    /* a etle k bdha title ek code thij sarkha thai jay em*/
    font-size: 20px;
  
    font-weight: 900;
  }
  
  .footr {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  

  .inter-fon {
    font-family: "Inter", sans-serif;
    font-weight: 100; 
  }