.reels p
{
    margin: 25px;
    text-align: center;
    font-size: 40px;   
}

.reels_card{
    width: 100%;
    height: 20em;
    /* background-color: crimson;  */
    padding: 20px; }
   


.cardr{ /* cards ni HW*/
    height: 19em;
    width: 200px;
    /* background-color: whitesmoke; */
    padding: 20px;
    border-radius: 20px;
    
}

.reel1 .r1,
.reel2 .r2,
.reel3 .r3 {
    height: 100%;
    width: 100%;
    position: relative; /* To position the video */
}

.reel1 .r1 video,
.reel2 .r2 video,
.reel3 .r3 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* To ensure the video fills the container */
    border-radius: 40px;
}